
<div class="component-wrapper">
    <div class="page-content">
      <div *ngIf="infoBoxOpen" class="info-box">
        <div>Click on a row to view a courses' grade distribution breakdown. Data is from all semesters between and including <b>Spring 2020</b> and <b>Fall 2024</b>.</div>
        <!-- <div (click)="closeAlert()" class="close-button">X</div> -->
      </div>
      
      <div class="input-wrapper">
        <img class="search-icon" src="assets/search-icon.png">
        <input class="input-bar" type="text" [(ngModel)]="userInput" placeholder="Search course name...">
        <div class="results">Total Courses: {{totalCourses | number}}</div>
      </div>
  
      <div class="table-wrapper">
        <table class="data-table">
          <thead>
              <tr>
                <th>Department</th>
                <th>Course Code</th>
                <th>Course Number</th>
                <th>Course Name</th>
                <th>Avgerage GPA</th>
                <th>% Received an A</th>
                <th>Avgerage Course Size</th>
                <!-- <th>
                    <div class="sortable">
                        <div>Average GPA</div>
                        <div class="arrows-wrapper" (click)="sortTable('avgGPA')">
                            <img class="arrow-up" src="assets/arrow-up.png">
                            <img class="arrow-down" src="assets/arrow-up.png">
                        </div>
                    </div>
                </th>
                <th>
                    <div class="sortable">
                        <div>% Course Received A</div>
                        <div class="arrows-wrapper" (click)="sortTable('difficulty')">
                            <img class="arrow-up" src="assets/arrow-up.png">
                            <img class="arrow-down" src="assets/arrow-up.png">
                        </div>
                    </div>
                </th>
                <th>
                    <div class="sortable">
                        <div>Average Course Size</div>
                        <div class="arrows-wrapper" (click)="sortTable('avgSize')">
                            <img class="arrow-up" src="assets/arrow-up.png">
                            <img class="arrow-down" src="assets/arrow-up.png">
                        </div>
                    </div>
                </th> -->
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of gradeData | keyvalue | search: userInput" (click)="navigateFromRowClick(course)">
              <td>{{course.value?.overview?.department ? course.value?.overview?.department : "N/A"}}</td>
              <td>{{course.value?.overview?.coursePrefix}}</td>
              <td>{{course.value?.overview?.courseNum}}</td>
              <td>{{course.value?.overview?.courseTitle}}</td>
              <td>{{course.value?.overview?.avgGPA}}</td>
              <td>{{course.value?.overview?.difficulty | percent}}</td>
              <td>{{course.value?.overview?.avgSize}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>