/* You can add global styles to this file, and also import other style files */


body {
    margin: 0px;
    background-color: var(--gray-background);
}

:root {
    --utaustin-color: #BF5700;
    --gray-background: #3b3b3b;
    --gray-border: rgb(114, 114, 114);
}