
.page-wrapper {
    font-family: sans-serif;
    color: var(--off-white);
}

.page-header {
    top: 0;
    height: 55px;
    background-color: var(--utaustin-color);
    display: flex;
    align-items: center;
    border-bottom: 8px solid var(--gray-border);
}

.header-title {
    font-size: 24px;
    margin-left: 40px;
    font-weight: 500;
}

.page-content {
    background-color: var(--gray-background);
    height: 100vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}


.tile-section {
    display: flex;
    gap: 50px;
}

.tile-wrapper {
    height: 250px;
    width: 250px;
    border: 4px solid var(--utaustin-color);
    border-radius: 8px;
}

.tile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 40px;
    border-bottom: 4px solid var(--utaustin-color);
}