
.page-wrapper {
    font-family: sans-serif;
    color: var(--off-white);
    background-color: var(--gray-background);
}

.page-header {
    top: 0;
    height: 60px;
    background-color: var(--utaustin-color);
    display: flex;
    align-items: center;
    border-bottom: 8px solid var(--gray-border);
}

.header-title {
    font-size: 24px;
    margin-left: 40px;
    font-weight: 500;
}

.page-content {
    background-color: var(--gray-background);
    height: 100vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

