
.page-wrapper {
    font-family: sans-serif;
    color: var(--off-white);
    background-color: var(--gray-background);
}

.page-header {
    top: 0;
    height: 60px;
    background-color: var(--utaustin-color);
    display: flex;
    align-items: center;
    border-bottom: 8px solid var(--gray-border);
}
.header-options-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: auto;
    margin-right: 3vw;
    gap: 3vw;
}

.header-option {
    cursor: pointer;
    padding: 8px;
}
.header-option:hover {
    opacity: 0.9;
    background-color: var(--utaustin-color-light);
    border-radius: 8px;
}
.header-option:active {
    transform: scale(0.97);
}

.header-title {
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
}

.heading-wrapper {
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 2px;
    .bevo-icon {
        height: 72px;
        width: 72px;
    }
}

.page-content {
    background-color: var(--gray-background);
    height: 100vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

