
<div class="page-wrapper">

  <header class="page-header">
    <div class="header-title">UT Austin Grades</div>
  </header>

  <div class="page-content">
    <table>

    </table>


    <div class="tile-section">
      <div class="tile-wrapper">
        <div class="tile-header">Hardest Courses</div>
        <table></table>
      </div>
  
  
      <div class="tile-wrapper">
        <div class="tile-header">Hardest Professors</div>
        <table></table>
      </div>
  
      <div class="tile-wrapper">
        <div class="tile-header">Easiest Courses</div>
        <table></table>
      </div>
  
      <div class="tile-wrapper">
        <div class="tile-header">Easiest Professors</div>
        <table></table>
      </div>

    </div>



  </div>

</div>